:root {
  --spectra: #375d5e;
  --tulip-tree: #eab23c;
  --vista-white: #f8f2ee;
  --rodeo-dust: #cbbb9a;
  --tuscany: #b05832;
  --tower-gray: #acbcbc;
  --cloud: #c7c5c4;
  --barley-corn: #9b8551;
  --illusion: #f496bc;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--vista-white);
  color: var(--spectra);
}

.jumbotron__bottom__center {
  max-width: 500px;
  max-height: 600px;
  background-color: var(--tulip-tree);
}
