$primary: #edb33c;
$secondary: #f26440;
$tertiary: #286f6c;
$color: #0d2f3f;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  background-color: $primary;
  color: $color;
}
