:root {
  --spectra: #375d5e;
  --tulip-tree: #eab23c;
  --vista-white: #f8f2ee;
  --rodeo-dust: #cbbb9a;
  --tuscany: #b05832;
  --tower-gray: #acbcbc;
  --cloud: #c7c5c4;
  --barley-corn: #9b8551;
  --illusion: #f496bc;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--vista-white);
  color: var(--spectra);
  font-size: 15px;
}
@keyframes fadeAndSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--vista-white);
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.header__logo {
  width: 40px;
  height: 40px;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__content {
  display: flex;
  align-items: center;
}
.header__nav__link {
  margin: 0 0.5em;
  padding: 0.1em 1em;
  background-color: transparent;
  border: none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  cursor: pointer;
  color: var(--spectra);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
}
.header__nav__link:hover {
  transition: all 0.3s ease-in-out;
  border-color: var(--spectra);
}
.header__nav__link.active {
  transition: all 0.3s ease-in-out;
  border-color: var(--spectra);
}
.header__links {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.header__nav__toggle,
.header__links a {
  color: var(--spectra);
  background-color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.header__nav__toggle svg,
.header__links a svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
}
.header__nav__toggle:hover,
.header__links a:hover {
  background-color: var(--spectra);
  color: var(--vista-white);
}
.header__nav__toggle {
  display: none;
}
@media (max-width: 768px) {
  .header {
    padding: 1em;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__nav__toggle {
    display: flex;
    margin-right: 0.7em;
  }
  .header__nav__content {
    flex-direction: column;
    position: absolute;
    top: 90%;
    right: 0em;
    width: 100%;
    padding: 1.5em 1em;
    background-color: var(--vista-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 1em;
    animation: fadeAndSlideIn 0.3s ease-in-out;
  }
  .header__nav__toggle svg,
  .header__links a svg {
    width: 18px;
    height: 18px;
  }
}
.jumbotron {
  margin-top: 85px;
}
