.landing__container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: (--secondary);
}
.landing__container__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background);
}
.landing__container__header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.landing__container__header__content__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
  font-family: "Edu NSW ACT Cursive", cursive;
}
.landing__container__header__content__links {
  display: flex;
  gap: 2em;
  align-items: center;
}
.landing__container__header__content__links__link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary);
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease;
  position: relative;
}
.landing__container__header__content__links__link:has(span) {
  color: var(--primary);
}
.landing__container__header__content__links__link span {
  position: absolute;
}
.landing__container__header__content__links__link span:first-child {
  left: -0.5em;
}
.landing__container__header__content__links__link span:last-child {
  right: -0.5em;
}
.landing__container__header__content__links__link:hover {
  color: var(--primary);
}
.landing__container__header__content__actions {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.landing__container__header__content__actions__entry {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--primary);
}
.landing__container__header__content__actions__entry a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}
.landing__container__header__content__actions__entry__contact {
  padding: 0.5em 1em;
  background-color: var(--primary);
  color: white !important;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.landing__container__header__content__actions__entry__contact:hover {
  transition: all 0.3s ease;
  background-color: var(--secondary);
  color: var(--background) !important;
}
.landing__container__header__content__actions__entry.button {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: white !important;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__container__header__content__actions__entry.button:hover {
  transition: all 0.3s ease;
  background-color: var(--secondary);
  color: var(--background) !important;
}
.landing__container__header__content__actions__entry.special {
  display: none;
}
.landing__container__hero {
  display: flex;
  height: 100vh;
}
@media (max-width: 1250px) {
  .landing__container__header__content__actions__entry.special {
    display: flex;
  }
  .landing__container__header__content__links {
    position: absolute;
    right: 1.5em;
    top: 100%;
    background-color: var(--background-light);
    padding: 0.5em 0em;
    border-radius: 10px;
    flex-direction: column;
    gap: 0.1em;
  }
  .landing__container__header__content__links__link {
    background-color: var(--background-light);
    width: 100%;
    padding: 0.7em 1.5em;
    font-weight: 500;
    text-align: center;
  }
  .landing__container__header__content__links__link:has(span) {
    background-color: var(--background);
  }
  .landing__container__header__content__links__link span {
    visibility: hidden;
  }
  .landing__container__header__content__links__link:hover {
    background-color: var(--background);
  }
}
